{% extends 'base.html'%} {% block body %}

<div class="app_body">
  <div class="search">
    <form method="post" action="{{ url_for('search') }}">
      <label for="city" class="search_label"
        >Search for weather in your City:</label
      >
      <div class="search_items">
        <input class="search_bar" type="text" id="city" name="city" required />
        <button type="submit" class="search_btn">Get Weather</button>
      </div>
    </form>
  </div>
  {% if error_message %}
  <div class="error"><p>{{ error_message }}</p></div>
  {% elif data %} {% for item in data %}
  <div class="block_data">
    <div class="nav">
      <ul>
        <li
          class="bg_nav_item nav_item radius-left"
          onclick="showDiv('today');bg('td')"
          id="td"
        >
          Today
        </li>
        <li class="nav_item" onclick="showDiv('forecast');bg('fr')" id="fr">
          24-hour
        </li>
        <li class="nav_item" onclick="showDiv('week');bg('wk')" id="wk">
          Week
        </li>
        <li
          class="nav_item radius-right"
          onclick="showDiv('graph');bg('gr')"
          id="gr"
        >
          Graph
        </li>
      </ul>
    </div>
    <div id="today" style="display: block">
      <ul class="data">
        <li class="city">
          <h4>
            {{ item.city }} <sub>{{ item.api_response.location.country }}</sub>
          </h4>
        </li>
        <li>
          <img
            src="{{ item.api_response.current.condition.icon }}"
            alt="Weather Icon"
          />
        </li>
        <li>
          Temperature min : {{
          item.api_response.forecast.forecastday[0].day.mintemp_c }}
        </li>
        <li>
          Temperature MAX : {{
          item.api_response.forecast.forecastday[0].day.maxtemp_c }}
        </li>
        <li>
          Humidity : {{
          item.api_response.forecast.forecastday[0].day.avghumidity }}
        </li>
        <li></li>
      </ul>
    </div>
    <div id="forecast" style="display: none">
      <div class="city">
        <div>
          <h3>
            {{ item.api_response.location.name }}
            <sub>{{ item.api_response.location.country }}</sub>
          </h3>
        </div>
      </div>

      {% for item in item.api_response.forecast.forecastday[0].hour %}
      <ul class="data">
        <li>Time : {{ item.time }}</li>
        <li>
          <img src="{{ item.condition.icon }}" alt="Weather Icon" />
        </li>
        <li>Temperature : {{ item.temp_c }}</li>
        <li>Humidity : {{ item.humidity }}</li>
        <li></li>
      </ul>
      {% endfor %}
    </div>
    <div id="week" style="display: none">
      <div class="city">
        <div>
          <h3>
            {{ item.api_response.location.name }}
            <sub>{{ item.api_response.location.country }}</sub>
          </h3>
        </div>
      </div>

      {% for item in item.api_response.forecast.forecastday %}
      <ul class="data">
        <li>Date : {{ item.date }}</li>
        <li>
          <img src="{{ item.day.condition.icon }}" alt="Weather Icon" />
        </li>
        <li>Temperature min : {{ item.day.mintemp_c }}</li>
        <li>Temperature max : {{ item.day.maxtemp_c }}</li>
        <li>Humidity : {{ item.day.avghumidity }}</li>
        <li></li>
      </ul>
      {% endfor %}
    </div>
    <div id="graph" style="display: none">
      <h3>
        {{ item.api_response.location.name }}
        <sub>{{ item.api_response.location.country }}</sub>
      </h3>
      <div>
        <img src="{{image}}" alt="Forecast Plot" style="width: 100%" />
      </div>
      {% endfor %} {% else %}
      <h1>Search for your city...</h1>
      {% endif %}
    </div>
  </div>
</div>

<script>
  function showDiv(divId) {
    // Hide all divs
    document.getElementById("today").style.display = "none";
    document.getElementById("forecast").style.display = "none";
    document.getElementById("week").style.display = "none";
    document.getElementById("graph").style.display = "none";

    // Show the selected div
    document.getElementById(divId).style.display = "block";
  }
  function bg(divId) {
    // Reset all navigation items to the default class
    var navItems = document.querySelectorAll(".nav_item");
    navItems.forEach(function (item) {
      item.classList.remove("bg_nav_item");
    });

    // Add the class to the selected navigation item
    document.getElementById(divId).classList.add("bg_nav_item");
  }
</script>

{% endblock %}
